################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MaxSimpleSyslog/v15
/MaxSimpleSyslog/bin/Debug/netcoreapp2.0
/MaxSimpleSyslog/obj
/UnitTest/bin/Debug/netcoreapp2.0
/UnitTest/obj
